<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Management</title>
</head>
<body>
<h1>Welcome to Candidate Management</h1>
<ul>
    <li><a href="add-candidate.html">Add Candidate</a></li>
    <li><a href="candidates.html">View All Candidates</a></li>
    <li><a href="candidates-paging.html">View Candidates with Paging</a></li>
    <li><a href="update-candidates.html">Update Candidate</a></li>
</ul>
</body>
</html>
